# Файлы и папки операционной системы
.DS_Store
Thumbs.db

# Файлы редактора
.idea
*.sublime*
*.psd
*.ai
*.pdf

# Вспомогательные файлы
*.log*
*.*vsd
*.*vsdx
node_modules/

# Папка с собранными файлами проекта
build/
